@import '../variables';

.landing {
    margin: 0px;
    padding-inline: 20px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__title {
        text-align: center;
        
        /* Padding introduced to top to make sure the background is covering the whole page */
        &__main {
            margin: 10px;
            padding-top: 20px;
            margin-top: 0px;
            font-size: 64px;
        }

        &__sub {
            margin: 10px;
        }
    }

    &__profile {
        display: flex;
        padding: 10px;
        gap: 0px;

        &__bio { 
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__skills { 
            width: 50%;
        }
    }

    &__call-to-action {
        text-align: center;
        font-size: x-small;

        &__arrow {
            width: 30px;
            height: 30px;
        }
    }

}

@media only screen and (max-width: 768px) {

    .landing {
        &__profile {
            display: flex;
            padding: 10px;
            gap: 0px;
            flex-direction: column;

            &__bio { 
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__skills { 
                width: 100%;
            }
        }
    }
}

