@import '../variables';

.projects {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: $blue;
    box-sizing: border-box;
    padding: 20px;

    &__heading {
        text-align: center;
        color: $white;
    }

    &__items {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }


}