@import '../variables';

.project {

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    width: 100%;

    &__image {
        max-width: 480px;
    }

    &__title {
        color: $white;
        text-align: center;
    }

    &__subtitle {
        color: $white;
        text-align: center;
    }

    &__description {
        width: 100%;
        color: $white;
    }
    
    &:hover {
        box-shadow: 5px;
        text-decoration: underline;
        text-decoration-color: $white;
    }
}

@media only screen and (max-width: 600px) {

    .project {
        &__image {
            width: 100%;
        }
    }
}