@import '../variables';

.project {

    &__image {
        width: 480px;
        height: 270px;
        // background-image: url('../assets/mesh.jpg');
        background-size: cover;
    }

    &__title {
        color: $white;
        text-align: center;
    }
    
    &:hover {
        box-shadow: 5px;
    }
}