// Inconsolata font from Google Fonts https://fonts.google.com/?query=inconsolata&icon.set=Material+Icons

// Global colours
$blue: #0C3C59;
$blue-dark: #051726;
$red: #F26F63;
$black: #0D0D0D;
$white: #FFFFFF;

// Preset fonts and colours
h1, h2, h3, p, li {
    color: $black;
    font-family: inconsolata;
}

